<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2022 Will Wu </p>
			</div>
			<div class="col-md-10 text-right">
				<span  class="px-2">willwu@gmail.com</span>
				<span  class="px-2">0912-534-8888</span>
				<span  class="px-2">New Taipei City</span>
			</div>
		</section>
	</div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

</body>
</html>